body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.navbar-default {
  background-color: #333333;
  border-color: #333333;
}
.navbar-default .navbar-brand {
  color: #eeeeee;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #c4c4c4;
}
.navbar-default .navbar-text {
  color: #eeeeee;
}
.navbar-default .navbar-nav > li > a {
  color: #eeeeee;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #c4c4c4;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #c4c4c4;
  background-color: #333333;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #c4c4c4;
  background-color: #333333;
}
.navbar-default .navbar-toggle {
  border-color: #333333;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #333333;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #eeeeee;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #eeeeee;
}
.navbar-default .navbar-link {
  color: #eeeeee;
}
.navbar-default .navbar-link:hover {
  color: #c4c4c4;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:10px !important; 
    padding-bottom:0 !important;
    height: 40px;
}
.navbar {min-height:40px !important;}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #eeeeee;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c4c4c4;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c4c4c4;
    background-color: #333333;
  }
}


/* Set width on the form input elements since they're 100% wide by default*/
/*input,
select,
textarea {
    max-width: 280px;
}*/
#wrapper{
    padding-right:0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
    margin-right: 150px;
}

#wrapper.toggled{
    padding-right: 250px;
    overflow: scroll;
}

#sidebar-wrapper{
    position: absolute;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -180px;
    background: #68c3a3;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper{
    width: 250px;
}

#page-content-wrapper{
    position: absolute;
    padding: 15px;
    width: 100%;
}

.xyz{
    min-width: 360px;
}

#wrapper.toggled #pa{
    position: relative;
    margin-left: 0px;
}

.fixed-brand{
    width: auto;
}

.id-photo{
    float: left;
    margin-bottom:25px;
}

.id-profile{
    margin-left: 160px;
    
}
/* Sidebar Styles*/

.sidebar-nav{
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}

.sidebar-nav li{
    text-indent: 15px;
    line-height : 40px;
}

.sidebar-nav li a{
    display : block;
    text-decoration :none;
    color : #999999;
}

.sidebar-nav li a:hover{
    text-decoration : none ;
    color : #fff;
    background : rgba(255,255,255,0.2);
    border-left : red 2px solid;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus{
    text-decoration : none;
}

.sidebar-nav > .sidebar-brand{
    height : 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a{
    color: #999999;
}

.sidebar-brand > .sidebar-brand a:hover{
    color: #fff;
    background: none;
}

.no-margin{
    margin:0;
}
 
@media(min-width:768px) {
    #wrapper {
        padding-left: 80px;
        padding-right: 200px;
    }
    .fixed-brand{
        width: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
 
    #sidebar-wrapper {
        width: 280px;
    }
 
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }
 
 
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #table_jur{
        margin-top:90px;
        width:100%;
    }

    .tab_head_tr{
        background: #f1f1f1;
    }

    .tab_head_a{
        padding:8px 8px;
        text-align: left;
        font-weight:normal;
    }

    .tab_head_b{
        padding:8px 8px;
        width: 100px;
        vertical-align:middle;
        box-sizing:border-box;
        font-weight:normal;
        text-align:right;
    }

    .tab_head_c{
        padding: 8px 8px;
        width: 100px;
        vertical-align: middle;
        box-sizing: border-box;
        font-weight: normal;
        text-align:right;
    }

    .tab_body_r{
        border-bottom: 1px solid #c4c4c4;
    }

    .tab_body_a{
        padding: 8px 8px;
        text-align:left;
    }

    .tab_body_b{
        padding: 8px;8px;
        vertical-align: middle;
        text-align:right;
    }

    .tab_body_c{
        padding: 8px;8px;
        vertical-align: middle;
        text-align:right;
    }
    
    #author-head-content{
        margin-right: 30%;
        margin-top: 20px;
    }

    #author-result-content {
        margin-top: 50px;
    }

    .author-table{
        font-size:16px;
    }

    .author-table-foot{
        margin-top:-10px;
    }

    #author_tab_body{
       width:100%;
    }

    .result-btn{
        float:right;
        border:1px solid black;
    }

    .result-btn:hover{
        background-color:cadetblue;
        color:cornsilk;
    }
 
}
