
@{
    ViewBag.Title = "Article";
}

<div class="container">
    <div class="form-group"></div>
    <div class="form-group"></div>
    <br />
    <br />
    <div class="form-group col-md-2">
        <input type="submit" value="Process" class="btn btn-primary" />
    </div>
    <br />
    <br />
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <!--<th class="col-md-2">Action</th>-->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>try</td>
                    <!--
                    <td>
                        <input type="submit" value="Edit" class="btn btn-success" />
                        <input type="submit" value="Delete" class="btn btn-danger" />


                    </td>
                    -->
                </tr>
            </tbody>
        </table>
    </div>
</div>


