@{
    ViewBag.Title = "My Profile";
}

<style>
    .well {
        background-color: #57BF98;
        border-radius: 0px;
    }

        .well h4 {
            color: white;
            text-align: center;
        }
</style>
<div class="container-fluid">
    <div class="col-md-8">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-3">
                <img src="~/Img/profile.png" alt="Sample Photo" />
            </div>
            <div class="col-md-9">
                <h2>KH. Prof. Dr. M.Eng. Kanjeng Sholeh Elfrianto, S.ST, M.Kom</h2>
                <hr>
                <p>Institut Teknologi Sepuluh November</p>
                <p>Surabaya, Jawa Timur, Indonesia</p>
            </div>
        </div>
        <hr>
        <div>
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th style="text-align: center" width="50%">Judul</th>
                        <th style="text-align: center">Dikutip oleh</th>
                        <th style="text-align: center">Tahun</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h2>Title</h2>
                            <a href="#">Author 1</a>, <a href="#">Author 2</a><br>
                            <a href="#">ITS Publisher</a>
                        </td>
                        <td align="center">bla bla bla</td>
                        <td align="center">2016</td>
                    </tr>
                    <tr>
                        <td>
                            <h2>Title</h2>
                            <a href="#">Author 1</a>, <a href="#">Author 2</a><br>
                            <a href="#">ITS Publisher</a>
                        </td>
                        <td align="center">bla bla bla</td>
                        <td align="center">2016</td>
                    </tr>
                    <tr>
                        <td>
                            <h2>Title</h2>
                            <a href="#">Author 1</a>, <a href="#">Author 2</a><br>
                            <a href="#">ITS Publisher</a>
                        </td>
                        <td align="center">bla bla bla</td>
                        <td align="center">2016</td>
                    </tr>
                    <tr>
                        <td>
                            <h2>Title</h2>
                            <a href="#">Author 1</a>, <a href="#">Author 2</a><br>
                            <a href="#">ITS Publisher</a>
                        </td>
                        <td align="center">bla bla bla</td>
                        <td align="center">2016</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <form class="form-horizontal" method="get" action="{{ url('/search_result') }}">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" class="form-control input" style="border-radius: 0" />
                        <span class="input-group-btn">
                            <button class="btn btn" type="button" style="border-radius: 0;background-color: #999; color: white">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-md-offset-1">
                        <label class="radio-inline">
                            <input type="radio" id="inlineRadio1" name="inlineRadioOptions" value="option1" checked="true"> all
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="inlineRadio2" name="inlineRadioOptions" value="option2"> name
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="inlineRadio3" name="inlineRadioOptions" value="option3"> title
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
