@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container" align="center">
        <h2> IRCI (Indonesian Research Citation Index) </h2>
        <br>

        @*<div class="input-group">
                <input class="form-control" id="search" name="search" placeholder="find what you need...!!!" style="font-size:17px; height:50px;">
                <span class="input-group-btn"> <button type="button" class="glyphicon glyphicon-search" title="Search"> </button> </span>
            </div>*@
        <center>
            @*<div xclass="input-group ">
                    <input type="text" class="form-control" />
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                    <input type="search" class="form-control" placeholder="search...">
                </div>*@

            @*<div align="center" class="col-lg-4">*@
            <form method="get" action="~/Home/SearchResult">
                <div class="row center-block">
                    <div class="input-group col-lg-4">
                        <input name="searchStrTB" type="search " class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </div><br />

                <div class="row">
                    <h4>
                        <label class="radio-inline">
                            <input checked type="radio" name="searchCatRB" id="inlineRadio1" value="0"> All
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="searchCatRB" id="inlineRadio2" value="1"> Name
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="searchCatRB" id="inlineRadio3" value="2"> Title
                        </label>
                    </h4>
                </div>
            </form>

            @*<div class="row">
                    <div class="bg-red col-md-4 col-md-offset-2">4</div>
                    <div class="bg-red col-md-4">4</div>
                </div>*@
        </center>

    </div>


</div>

<div class="row">

</div>

