@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<p>@ViewBag.Message</p>
<style>
.well {
    background-color: #57BF98;
    border-radius: 0px;
}
.well h4 {
    color: white;
    text-align: center;
}
</style>
<div class="col-md-8">
    <div class="row" style="margin-top:10px;">
        <form class="form-horizontal" method="get" action="{{ url('/search_result') }}">
            <div class="col-md-6">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" class="form-control input" style="border-radius: 0" />
                        <span class="input-group-btn">
                            <button class="btn btn" type="button" style="border-radius: 0;background-color: #57BF98; color: white">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group" align="center">
                    <label class="radio-inline">
                        <input type="radio" id="inlineRadio1" name="inlineRadioOptions" value="option1" checked="true"> all
                    </label>
                    <label class="radio-inline">
                        <input type="radio" id="inlineRadio2" name="inlineRadioOptions" value="option2"> name
                    </label>
                    <label class="radio-inline">
                        <input type="radio" id="inlineRadio3" name="inlineRadioOptions" value="option3"> title
                    </label>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div>
        <h2>Title</h2>
        <a href="#">Author 1</a>, <a href="#">Author 2</a>
        <p>Lang met dit ruwe aan open acre twee. Verder moeite noodig wat van. Het ons far holte onder massa zeker wordt moest. Al ze boomen ze gebrek alleen af meters. Des tunnels bak hiertoe ploegen ten wij. Schatkist anderhalf te ongunstig de regeering. Bamboe minder nu de kregen.</p>
        <a href="#">Cited (9)</a> <a href="#">Related Article</a> <a href="#"> Other Version</a>
        <h2>Title</h2>
        <a href="#">Author 1</a>, <a href="#">Author 2</a>
        <p>Lang met dit ruwe aan open acre twee. Verder moeite noodig wat van. Het ons far holte onder massa zeker wordt moest. Al ze boomen ze gebrek alleen af meters. Des tunnels bak hiertoe ploegen ten wij. Schatkist anderhalf te ongunstig de regeering. Bamboe minder nu de kregen.</p>
        <a href="#">Cited (9)</a> <a href="#">Related Article</a> <a href="#"> Other Version</a>
        <h2>Title</h2>
        <a href="#">Author 1</a>, <a href="#">Author 2</a>
        <p>Lang met dit ruwe aan open acre twee. Verder moeite noodig wat van. Het ons far holte onder massa zeker wordt moest. Al ze boomen ze gebrek alleen af meters. Des tunnels bak hiertoe ploegen ten wij. Schatkist anderhalf te ongunstig de regeering. Bamboe minder nu de kregen.</p>
        <a href="#">Cited (9)</a> <a href="#">Related Article</a> <a href="#"> Other Version</a>
        <h2>Title</h2>
        <a href="#">Author 1</a>, <a href="#">Author 2</a>
        <p>Lang met dit ruwe aan open acre twee. Verder moeite noodig wat van. Het ons far holte onder massa zeker wordt moest. Al ze boomen ze gebrek alleen af meters. Des tunnels bak hiertoe ploegen ten wij. Schatkist anderhalf te ongunstig de regeering. Bamboe minder nu de kregen.</p>
        <a href="#">Cited (9)</a> <a href="#">Related Article</a> <a href="#"> Other Version</a>
        <h2>Title</h2>
        <a href="#">Author 1</a>, <a href="#">Author 2</a>
        <p>Lang met dit ruwe aan open acre twee. Verder moeite noodig wat van. Het ons far holte onder massa zeker wordt moest. Al ze boomen ze gebrek alleen af meters. Des tunnels bak hiertoe ploegen ten wij. Schatkist anderhalf te ongunstig de regeering. Bamboe minder nu de kregen.</p>
        <a href="#">Cited (9)</a> <a href="#">Related Article</a> <a href="#"> Other Version</a>
    </div>
</div>
<div class="col-md-4">
    <div class="well">
        <div class="container-fluid">
            <h4>Range Year</h4>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-5">
                        <select class="form-control">
                            <option>2016</option>
                            <option>2016</option>
                            <option>2016</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <select class="form-control">
                            <option>2016</option>
                            <option>2016</option>
                            <option>2016</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary"><span class="glyphicon glyphicon-play"></span></button>
                    </div>
                </div>
            </form><br>
            <h4>Sort By</h4>
            <select class="form-control">
                <option>Year</option>
                <option>relevance</option>
            </select>
        </div>
    </div>
</div>